{% extends 'master' %}

{% block content %}
  <form method="post" >
    <h1>Search By Product</h1>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="searchProduct" placeholder="Product..." name="searchProduct">
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="searchBrand" placeholder="Brand..." name="searchBrand">
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="searchColor" placeholder="Color..." name="searchColor">
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="searchType" placeholder="Type..." name="searchType">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <ul class="list-group">
    {% for product in products %}
      <li class="list-group-item justify-content-between">
        {#<span class="badge">12</span>#}
        {{ product.title }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
