{% extends 'master' %}
{% block content %}
  <ul class="list-group">
    <li class="list-group-item justify-content-between">

      {#<span class="badge">12</span>#}

      Iphone 5s

      <div class="mr-sm-2">
        123123 Toman
      </div>

      <div class="mr-sm-2">
        <a class="btn btn-danger" href="hazf az sabad kharid" role="button">delete</a>
      </div>
    </li>

    <li class="list-group-item justify-content-between">

      {#<span class="badge">12</span>#}

      Iphone 5s

      <div class="mr-sm-2">
        123123 Toman
      </div>

      <div class="mr-sm-2">
        <a class="btn btn-danger" href="hazf az sabad kharid" role="button">delete</a>
      </div>
    </li>

  </ul>
  <p>
    Total Price: 8585 Toman
  </p>

{% endblock %}
